In [3]:
dummy = {
    'First':['tom','ben','ken'],
    'Last':['Mutavi','Mutisya','Ndone'],
    'Email':['tom@gmail.com','ben@gmail.com','ken@gmail.com'],
}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(dummy)

In [6]:
df.columns

Index(['First', 'Last', 'Email'], dtype='object')

In [7]:
# Change Columns to Upper case
df.columns = [x.upper() for x in df.columns]

In [8]:
#Remove Spaces and replace with _
df.columns = df.columns.str.replace(' ','_')

In [9]:
df.columns = [x.lower() for x in df.columns]

In [10]:
df.rename(columns = {'first':'First_Name','last':'Last_Name','email':'User_Email'})
#add inplace = True to effect changes

  First_Name Last_Name     User_Email
0        tom    Mutavi  tom@gmail.com
1        ben   Mutisya  ben@gmail.com
2        ken     Ndone  ken@gmail.com

# ROWS

In [11]:
#change mutilple values in a wo
df.loc[2,['last','email']] = ['kim','kim@gmail.com']

In [12]:
#Single Value
df.loc[2,'first'] = 'kom'
# df

In [13]:
#change all values in a column to lower
df['first'] = df['first'].str.lower()

In [14]:
# $ polpular methods - 
#apply On SERIEs

In [15]:
#wrokrs for dfs and series
df['email'].apply(len)

0    13
1    13
2    13
Name: email, dtype: int64

In [16]:
def update_email(eamil):
    return eamil.upper()
df['email'].apply(update_email)
#change column
df['email'] = df['email'].apply(update_email)

In [17]:
#Apply - ON DATAFRAme

In [18]:
# Apply Map
df.applymap(len)

   first  last  email
0      3     6     13
1      3     7     13
2      3     3     13

Part 6 -> Remove/Add Rows and Columns

           email   first_name
0  TOM@GMAIL.COM   tom Mutavi
1  BEN@GMAIL.COM  ben Mutisya
2  KIM@GMAIL.COM      kom kim

In [35]:
# Add column
df['first_name'] = (df['first'] + ' ' + df['last'])
df

KeyError: 'first'

In [33]:
#Drop columns
df.drop(columns = ['first','last'], inplace = True)
df

KeyError: "['first', 'last'] not found in axis"

In [38]:
#Split Fisrst Name into two
df[['first','last']]=df['first_name'].str.split(' ',expand = True)

In [44]:
# Removing And Adding Rows
df

           email   first_name first     last
0  TOM@GMAIL.COM   tom Mutavi   tom   Mutavi
1  BEN@GMAIL.COM  ben Mutisya   ben  Mutisya
2  KIM@GMAIL.COM      kom kim   kom      kim

In [46]:
df.concat({'first_name': 'Mutavi Mathias'})

AttributeError: 'DataFrame' object has no attribute 'concat'

PART 7 Sorintng

In [ ]:
df